@font-face {
  font-family: "SF Pro Display";
  src: url(/fonts/SFProDisplay-Regular.woff);
}
body {
  font-family: SF Pro Display;
}
a {
  text-decoration: none;
  color: black;
}

header {
  position: relative;
  height: 61px;
  width: 100%;
  border-bottom: 1px solid #000000;
}
#logo {
  position: absolute;
  width: 31.74px;
  height: 32px;
  left: 200px;
  top: 11.13px;
}
#pipe {
  position: absolute;
  width: 32px;
  height: 0px;
  left: 244px;
  top: 11.13px;
}
#logo_2 {
  position: absolute;
  top: 12.13px;
  display: flex;
  align-items: center;
  width: 26;
  height: 18px;
}
#logo_2 p:first-child {
  position: absolute;
  width: 47px;
  height: 17px;
  left: 255px;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-transform: lowercase;
  color: #000000;
}
#logo_2 p:nth-child(2) {
  position: absolute;
  width: 39px;
  height: 17px;
  left: 255px;
  /* top: 25.13px; */
  top: 3px;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-transform: lowercase;

  color: #000000;
}

nav {
  display: flex;
  position: absolute;
  left: 402px;
  top: 16px;
}
nav a {
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin-left: 21px;

  /* font styles */
  font-weight: 400;
}
nav a:nth-child(3) {
  margin-left: 138px;
}
#lang {
  position: absolute;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100px;
  height: 15px;
  top: 16.63px;
  left: 1000px;
}
#lang p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0%;
  /* identical to box height */

  font-variant: small-caps;

  color: #aeaeae;
}
#lang p + p {
  margin-left: 7px;
}
#lang p:last-child {
  color: #000000;
}
#switch {
  position: absolute;
  display: flex;
  align-items: center;
  left: 1185.46px;
  top: 16.61px;
  bottom: 21.34px;
}
#exit_icon {
  margin-left: 43px;
}
#switch p {
  margin-left: 10px;
}
#content {
  position: absolute;
  width: 109px;
  height: 17px;
  left: 402.57px;
  top: 199.5px;
}

#content p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-transform: uppercase;

  color: #000000;
}
#content_2 {
  position: absolute;
  width: 514px;
  height: 76px;
  left: 400px;
  top: 222.5px;
  /* top: 219.5px; */
}
#content_2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 76px;
  text-transform: uppercase;

  margin: 0%;
}
#content_3 {
  position: absolute;
  width: 382.89px;
  height: 85px;
  left: 1000px;
  top: 205px;
}
.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  color: #1d1d1d;
  margin: 0%;
}
#pic {
  position: absolute;
  width: 997.25px;
  height: 634px;
  left: 402.57px;
  top: 440px;

  background: url(/images/c7a579576e193fe4521a61bb59e1dd5c.png);
}
#subtitle {
  position: absolute;
  width: 398.72px;
  height: 51px;
  left: 1001.28px;
  top: 1224px;
}
#title {
  position: absolute;
  width: 507.08px;
  height: 114px;
  left: 403.16px;
  top: 1387.57px;
}
#title p {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #1d1d1d;
  margin: 0%;
}
#features {
  width: 100%;
  height: 550px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 0%;
  top: 1631.57px;

  /* ! testing color */
  /* background-color: red; */
}
#features div:first-child {
  position: absolute;
  left: 403.16px;
}
#features div:nth-child(2) {
  position: absolute;
  left: 1001.28px;
}
#features div:nth-child(3) {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 330px;
}
#features div:nth-child(4) {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 930px;
}
.text p + p {
  margin-top: 83px;
  margin-bottom: 0%;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.text p {
  text-align: justify;
}
.general__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #181818;
}
.features__icons {
  width: 60px;
  height: 60px;
}
.icons img {
  margin-right: 30px !important;
}
.icons img + img {
  margin-top: 61.65px;
  margin-bottom: 0%;
}
.icons img + img + img {
  margin-top: 40px;
  margin-bottom: 0%;
}
